In [1]:
import pandas as pd
import numpy as np

In [8]:
certificates_earned = pd.DataFrame({"Certificates": [8, 2, 5, 6], "Time (in months)": [16, 5, 9, 12]})
names = ['Tom', 'Kris', 'Ahmad', 'Beau']
certificates_earned.index = names
certificates_earned

       Certificates  Time (in months)
Tom               8                16
Kris              2                 5
Ahmad             5                 9
Beau              6                12

In [12]:
longest_streak = pd.Series([13, 11, 9, 7], index=names)
certificates_earned["Longest Streak"] = longest_streak
print(certificates_earned)

       Certificates  Time (in months)  Longest Streak
Tom               8                16              13
Kris              2                 5              11
Ahmad             5                 9               9
Beau              6                12               7